.header{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgb(0, 0, 0, 0.75);
}
.headerLeft{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.headerInput{
    display: flex;
    align-items: center;
    background-color: gainsboro;
    padding: 8px;
    margin-left: 10px;
    border-radius: 99px;
}
.headerInput >input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
.headerLeft >img{
    height: 20px;
}
.headerMiddle{
    display: flex;
    flex: 1;
    justify-content: center;
}
.headerOption > .MuiSvgIcon-root{
    color: grey;

}
.headerOption__active > .MuiSvgIcon-root{
    color:#2e81f4;


}
.headerOption__active {
    border-bottom: 4px solid #2e81f4;


}


.headerOption:hover > .MuiSvgIcon-root{
    color:rgb(15, 108, 170);

}
.headerOption{
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
.headerOption:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 20px;
    border-bottom: none;
}
.headerInfo{
    display: flex;
    align-items: center;
}
.headerInfo > h4{
    margin-left: 10px;
}
.headerRight{
    display: flex;
}